body{
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 18px;
    background-color: #f8f9fa;
}
.main-container{
    display: flex;
}


/* For middle task section  */
.tasks{
    width: 40%;
    height:100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

header{
    font-size: 2rem;
    padding: 0px 0px 20px 0px;
}

.add-task{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#task-input{
    width:60%;
    font-size: 1.3rem;
}


.add-button,.time{
    width: 20%;
}

.task-container{
    display: flex;
    flex-direction: row;
}

.task-list{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none;
    padding: 0px;
    width:100%
}


.task-list li{
  height: 40px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskTime{
    margin-left: auto;
}

.task-completed {
    text-decoration: line-through;
    background-color: rgb(224, 224, 224);
}