.leftside-login{
    width: 20%;
}

form{
     height: 30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px ,10px, 0px, 10px;
}

.login-button{
    width:150px;
}